body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
}

nav button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

section {
  padding: 50px 20px;
  border-bottom: 1px solid #ccc;
}